*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    
}
.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.mainSelectedDiv{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

*:focus {
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
h2 {
    margin: 10px;
}
span {
    margin-bottom: 20px;
}
span {
    font-weight: 300;
    color: #666;
    font-size: 15px;
    font-style: italic;
}

#canvasContainer{
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-height: 70vh;
    max-width: 850px;
    height: fit-content;
    width: fit-content;
    overflow-y: scroll;
    overflow-x: none;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 100px;
    border: 2px black solid;
    position: relative;
}

canvas{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/* ===== Comment Area CSS ===== */
.comment_area{
    background-color: #cd87f9;
    border-radius: 10px;
    width: 410px;
    height: 300px;
    margin-top: 100px;
    margin-right: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.comment_area .comment_status{
    padding: 15px;
    position: relative;
    z-index: 1;
}

/* Hide the default radio button */
.comment_status input[type="radio"] {
    display: none;
}

.comment_status label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #cd87f9;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    transition: 0.1s ease-in all;
}

/* Add hover and checked styles to the label */
.comment_status label:hover {
    background-color: #ba7eec;
}
  
.comment_status input[type="radio"]:checked + label {
    background-color: #ba7eec;
}

/* Comment View */
.commentsView{
    background-color: #cd87f9;
    width: 100%;
    height: 170px;
    position: relative;
    overflow-y: auto;
    z-index: 0;
}

.commentsViewItem{
    width: 95%;
    border-radius: 10px;
    background-color: #f9efff;
    padding: 10px;
    margin-left: 10px;
    font-weight: 700;
    margin-bottom: 10px;
}
.commentsViewItem h1{
    font-weight: 400;
    margin-bottom: 10px;
}


/* Comment Input */
.comment_input {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    justify-self: center;
    margin-top: 10px;
    width: 400px;
    z-index: 2;
}

.comment_input input[type="text"] {
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 10px;
    margin-left: 10px;
    margin-right: 20px;
    flex: 1;
}

.commentButtons{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
  
.circle_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: none;
    outline: none;
}
  
.circle_button:hover {
    background-color: #bfbfbf;
}


/* ===== Sidebar CSS ===== */
.wrapper{
    z-index: 2;
}
.sidebar{
    background: #FFFFFF;
    width: 100px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    transition: all 0.5s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sidebar-buttons{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
}

/* ===== Sidebar Buttons Hover State ===== */
.home {
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}.home:hover{
    background-color: #efd5ff;
}

.folder {
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}.folder:hover{
    background-color: #efd5ff;
}

.settings {
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}.settings:hover{
    background-color: #efd5ff;
}

.exit {
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}.exit:hover{
    background-color: #ffa3a3;
}

/* ===== Topbar CSS ===== */
.topbar{
    z-index: 1;
    pointer-events: all;
    background-color: #fff;
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.user-profile-div{
    display: flex;
    gap: 15px;
}
.user-profile-image{
    width: 40px;
    height: 40px;
    background-color: #666;
    border-radius: 100%;
}

.triggers{
    display: flex;
    gap: 15px;
}
.shareboard-btn {
    background-color: #7C3AED;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
  transition: all 0.2s ease-in;
}.shareboard-btn:hover {
  background-color: #ba92ff;
  cursor: pointer;
}

.image-name-div{
    margin-left: 60px;
    gap: 10px;
    align-items: center;
    display: flex;
}
  


/* ===== Scrollbar CSS ===== *//* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #54a09f #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: #54a09f;
    border-radius: 13px;
}